@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: black;
  font-family: "Averia Serif Libre", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  position: absolute;
  color: white;
  top: 30px;
  font-size: 50px;
}

h1 {
  text-shadow: 0 0 5px #fff, 0 0 10px black, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0);
}

@media only screen and (max-width: 1000px) {
  headeR {
    top: 20px;
    font-size: 30px;
  }
}

main {
  width: 800px;
  height: 500px;
}

.drum-machine {
  background-color: black;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  -webkit-box-shadow: 8px 6px 42px 18px rgba(0, 0, 0, 0.57);
          box-shadow: 8px 6px 42px 18px rgba(0, 0, 0, 0.57);
}

.key {
  padding: 10px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.07s;
  transition: all 0.07s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  color: white;
  transition: all 0.07s;
}

.key > kbd {
  text-align: center;
  width: 100%;
  font-size: 80px;
  cursor: pointer;
  text-shadow: 0 0 5px #fff, 0 0 10px black, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0);
}

.key > span {
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.playing {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0);
          box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0);
}

.history {
  width: 100%;
  color: #fff;
  font-size: 30px;
  text-shadow: 0 0 5px #fff, 0 0 10px black, 0 0 15px black, 0 0 20px #0daa9d, 0 0 30px #18d1ff, 0 0 40px #18dcff, 0 0 55px #18ff4a, 2px 2px 2px rgba(206, 89, 55, 0);
}

.btn {
  -webkit-tap-highlight-color: transparent;
  background-color: black;
  border: none;
  color: #c8c8c8;
  padding: 20px;
  font-size: 30px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 5px #51fa22;
          box-shadow: 0 0 5px #51fa22;
  text-transform: capitalize;
  -webkit-transition: all 0.07s;
  transition: all 0.07s;
}

.btn:focus,
.btn:active {
  outline: 0;
  border: none;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-box-shadow: 0 0 5px #fff, 0 0 10px #030000, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0);
          box-shadow: 0 0 5px #fff, 0 0 10px #030000, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 2px 2px 2px rgba(206, 89, 55, 0);
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
}

#history_id {
  overflow-wrap: break-word;
}

@media only screen and (max-width: 500px) {
  header {
    top: 40px;
    font-size: 25px;
  }
  main {
    width: 100%;
  }
  .key > kbd {
    font-size: 50px;
  }
  .btn {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
  }
  .history {
    padding: 10px;
    font-size: 20px;
  }
  .sound {
    font-size: 12px;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */